
body{
     display: flex;
     justify-content: center;
     background: #d7dee3;
     background: -moz-linear-gradient(45deg,  #d7dee3 -1%, #f6f8f9 0%, #d7dee3 0%, #e5ebee 67%, #e5ebee 67%, #f5f7f9 100%);
     background: -webkit-linear-gradient(45deg,  #d7dee3 -1%,#f6f8f9 0%,#d7dee3 0%,#e5ebee 67%,#e5ebee 67%,#f5f7f9 100%);
     background: linear-gradient(45deg,  #d7dee3 -1%,#f6f8f9 0%,#d7dee3 0%,#e5ebee 67%,#e5ebee 67%,#f5f7f9 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dee3', endColorstr='#f5f7f9',GradientType=1 );

}

.sidebar{
     display:flex;
     flex-direction: column;
     background: #b437f2;
     background: -moz-linear-gradient(top,  #b437f2 0%, #dd71c9 100%);
     background: -webkit-linear-gradient(top,  #b437f2 0%,#dd71c9 100%);
     background: linear-gradient(to bottom,  #b437f2 0%,#dd71c9 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b437f2', endColorstr='#dd71c9',GradientType=0 );
     
     color: #ffffff;
     margin-top:35px;
     margin-bottom:35px;
     align-items: center;
}
.sidebar a {
     color: rgba(255, 255, 255);
}
.sidebar a:hover{
     border-bottom:solid #3f2160 2px;

}

.sidebar-card{
     margin:20px;
     display:flex;
   
}

.sidebar-card img{
     width: 244px;
     border-radius: 100%;
     margin-bottom:10px;
     border: solid #3f2160 5px;
}

.sidebar-card-item{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-content: center;
     align-items: center;
     justify-content: center;
}

.sidebar-card-item h3{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 30px;
     line-height: 35px;
     text-align: center;
     letter-spacing: 2px;
     text-transform: uppercase;
}

.sidebar-card-item h4{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 23px;
     text-align: center;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #ffffff;
     margin-top:15px;
     
}

.sidebar-contact{
     margin:20px;
     display:flex;
     flex-direction: column;

}

.sidebar i{
     margin-right: 10px;
     color: #3f2160;
}
.sidebar h4{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: bolder;
     font-size: 20px;
     line-height: 23px;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #3f2160;
     margin-bottom:20px;
}

.sidebar-contact-item{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     letter-spacing: 1px;
     color: rgba(255, 255, 255);
     margin-bottom:13px;

}

.sidebar-skills {
     margin-top:20px;
     display:flex;
     flex-direction: column;
     list-style:circle;
    
}

.sidebar-skills-item{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     line-height: 21px;
     letter-spacing: 1px;
     text-transform: uppercase;
     color: rgb(255, 255, 255);
     margin-bottom:14px;
}

.principalContainer{
     display:flex;
     flex-direction: column;  
     background: #3f2160;
     border-radius: 0px 60px 0px 0px;
     width: 70%;
     margin-top:35px;
     margin-bottom:35px;
}

.principalContainer-about{
     display:flex;
     flex-direction: column;
     margin:64px;
}

.principalContainer h2{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     line-height: 47px;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #27e881;
     margin-bottom:30px;

}

.principalContainer p{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 178%;
     letter-spacing: 1px;
     color: #F1F8FD;
     margin-bottom: 20px;
}

.principalContainer h3{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: bold;
     font-size: 25px;
     line-height: 29px;
     letter-spacing: 1px;
     text-transform: uppercase; 
     color: #27e881;
     margin-bottom: 8px;
}

.principalContainer span{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 32px;
     letter-spacing: 1px;
     color: #F1F8FD;

} 

.principalContainer-experience{
     display:flex;
     margin:0px 64px 64px 64px;
     flex-direction: column;
}

.principalContainer-experience-jobs-item{
     display:flex;
     flex-direction: row;
     margin-bottom:20px;

}

.principalContainer-experience-jobs-item-first{
     width:100%;
}

.principalContainer-experience-jobs-item-secound{
     width:100%; 
}

.principalContainer-experience-jobs-item-secound p{
     border-left: 3px solid #a5a3a3;
     padding-left: 13px;
}

.principalContainer-education{
     display:flex;
     flex-direction: column;
     margin:64px;
}

.principalContainer-education-body-item{
     display:flex;
     flex-direction: row;
     margin-bottom:20px;
}

.principalContainer-education-body-item-first{
     width:100%;
}

.principalContainer-education-body-item-secound{
     width:100%;
}

.principalContainer-education-body-item-secound p{
     border-left: 3px solid #a5a3a3;
     padding-left: 13px;
}

.principalContainer-certificates{
     display:flex;
     flex-direction: column;
     margin:64px;
}

.principalContainer-certificates-body-item{
     display:flex;
     flex-direction: row;
     margin-bottom:20px;
}

.principalContainer-certificates-body-item-first{
     width:100%;
}

.principalContainer-certificates-body-item-secound{
     width:100%;
}

.principalContainer-certificates-body-item-secound p{
     border-left: 3px solid #a5a3a3;
     padding-left: 13px;
}

.top{
     position: sticky;
     bottom: 0;
     padding-left: 93%;
     scroll-behavior: smooth;
     margin-bottom: 2%;
}

.top div{
     width: 10%;
}

.top img:hover{
     border: solid white ;
     border-radius: 100%;
  
}